*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Lexend Deca", sans-serif;
    background-color: hsl(214, 17%, 92%);
    width: 1440px;
    margin: 0 auto;
}
/*总体布局分为左右两部分*/
.wrapper{
    width: 1116px;
    margin: 230px auto;
    display: flex;
    gap: 32px;
    font-size: 13px;
}
/*left*/
.left{
    width: 828px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
/*right*/
.right{
    width: 192px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    box-shadow: 40px 40px 40px hsl(0, 0%, 81%);
}
.right h3{
    color: hsl(217, 19%, 35%);
}
.right h4{
    color: hsl(224, 10%, 45%);
}
.right p{
    color: hsla(224, 10%, 45%, 0.8);
}
/*左部分又分为上下两部分*/
/*上部分为左右布局*/
.left .top{
    display: flex;
    flex-direction: row;
    gap: 32px;
}
/*t-big*/
.t-big{
    background: hsl(263, 55%, 52%) url(../img/bg-pattern-quotation.svg) no-repeat top right 60px;
}
.t-big img{
    border: 2px solid hsl(264, 82%, 80%);
}
.t-big p,.t-big h4{
    color: hsla(259, 100%, 95%, 0.8)
}
/*t-small*/
.t-small{
    background-color: hsl(224, 10%, 45%);
}
/*下部分也为左右布局*/
.left .bottom{
    display: flex;
    flex-direction: row;
    gap: 32px;
}
/*b-small*/
.b-small{
    background-color: hsl(0, 0%, 100%);
}
.b-small h3{
    color: hsl(217, 19%, 35%);
}
.b-small h4{
    color: hsl(224, 10%, 45%);
}
.b-small p{
    color: hsla(224, 10%, 45%, 0.8);
}
/*b-big*/
.b-big{
    background-color: hsl(0, 0%, 7%);
}
.b-big img{
    border: 2px solid hsl(263, 55%, 52%);
}
/*公共样式*/
.t-big,.t-small,.b-small,.b-big,.right{
    border-radius: 10px;
    box-shadow: 40px 40px 40px hsl(0, 0%, 81%);
    padding: 32px;
}
.person{
    display: flex;
    flex-direction: row;
}
.person img{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 14px;
}
h3{
    font-size: 16px;
    font-weight: normal;
    color: hsl(0, 0%, 100%);
    margin: 24px 0;
}
h4{
    font-weight: normal;
    color: hsl(0, 0%, 81%);
}
p{
    color: hsl(214, 17%, 92%);
}