*{
    margin: 0;
    padding: 0;
}
body{
    font-size: 18px;
    min-width: 1266px;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}
.wrapper{
    width: 100%;
    position: relative;
    background-color: #fff;
}

/*头部*/
header{
    display:  flex;
    flex-direction: row;
    background: hsl(193, 100%, 96%) url("../img/bg-hero-desktop.svg") top no-repeat;
    padding: 30px 80px;
}
header .left{
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}
header .left button:hover{
    opacity: .5;
}
header .logo{
    margin-top: 18px;
}
header .logo img{
    width: 202px;
    height: 32px;
}
header .detail{
    margin-top: 160px;
    width: 520px;
}
header .detail button{
    background-color: hsl(322, 100%, 66%);
    color: #fff;
    width: 240px;
    height: 50px;
    border: none;
    border-radius: 50px;
    margin-top: 36px;
}
header .right{
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
header .right button{
    position: absolute;
    right: 80px;
    width: 180px;
    height: 40px;
    border: none;
    border-radius: 50px;
    background-color: #fff;
    box-shadow: #ccc 3px 3px 3px;
}
header .right button:hover{
    opacity: .5;
}
header .right img{
    width: 100%;
    height: 100%;
    margin-top: 90px;
}

/*主体*/
.container{
    margin-top: 160px;
}
.container .top,.container .mid,.container .bottom{
    height: 334px;
    margin: 42px 104px 0;
    display: flex;
    gap: 123px;
    justify-content: space-between;
    border-radius: 10px;
    box-shadow: rgba(153, 153, 153, 0.25) 1px 1px 10px;
    padding: 55px 30px 55px 125px;
}
.container .top{
    margin-top: 0;
}
.container .describe{
    margin: auto 0;
    width: 490px;
    height: 124px;
}
.container .describe p{
    color: rgba(0, 0, 0, 0.4);
    margin-top: 18px;
}
.container img{
    width: 410px;
    height: 330px;
}

/*页尾*/
footer{
    height: 500px;
    background-color: hsl(192, 100%, 9%);
    margin-top: 344px;
    display: flex;
    flex-direction: column;
    color: #fff;
    position: relative;
}
footer .logo{
    font-size: 32px;
    margin: 160px 100px 0;
}
footer .detail{
    margin: 46px 222px 50px 100px;
    display: flex;
    flex-direction: row;
    gap: 150px;
    font-size: 12px;
}
footer .info{
    width: 340px;
}
.info div{
    margin-top: 20px;
}
footer .info span:first-child{
    margin-right: 25px;
}
footer .more{
    display: flex;
    flex-direction: row;
    gap: 120px;
}
footer .more p{
    margin-top: 20px;
}
footer .copyright{
    font-size: 12px;
    color: rgba(255, 255, 255, 0.8);
    position: absolute;
    right: 80px;
    bottom: 66px;
}

/*上层*/
.button{
    position: absolute;
    bottom: 400px;
    left: 50%;
    transform: translateX(-50%);
    width: 764px;
    height: 280px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: rgba(153, 153, 153, 0.2) 1px 1px 10px;
    z-index: 1000;
}
.button h3{
    text-align: center;
    margin-top: 75px;
    font-size: 28px;
}
.button button{
    width: 360px;
    height: 60px;
    background-color: hsl(322, 100%, 66%);
    border: none;
    border-radius: 50px;
    color: #fff;
    display: block;
    margin: 44px auto;
    font-size: 18px;
}
.button button:hover{
    opacity: .5;
}